.machineContainer {
    height: 80px;
    width: 400px;
    
    margin-bottom: 24px;
}

.machineContainer img {
    height: 100%;
    width: 80px;
}

.machineProgressBar {
    position: relative;
    top: -84px;
    left: 100px;

    height: 70px;
    width: 290px;

    border: 5px solid;
    border-radius: 10px;
}

.machineProgressFill {
    height: inherit;
    width: 50%;
}

.machineButton {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    outline: none;
    border: none;

    background-color: transparent;
}

.machineTab {
    position: absolute;
    top: 0px;
    left: 420px;

    width: 400px;
    height: 600px;
}