#machines {
    float: left;

    height: 600px;
    width: 400px;
}

.machineContainer {
    position: relative;

    height: 80px;
    width: 400px;

    margin-bottom: 24px;

    display: none;
}

.icon.machine {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 80px;
    width: 80px;

    image-rendering: crisp-edges;
}

.machineTabButton {
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 1;

    height: 80px;
    width: 300px;

    border: 5px solid var(--accent-2);
    border-radius: 10px;

    font-size: 2rem;

    background-color: transparent;
}

.machineTabButton:hover, .machineTabButton.active {
    border-color: var(--accent-1);
}

.machineTabFill {
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 0;

    height: 80px;
    width: 0px;

    border-radius: 10px;

    background-color: var(--accent-2);
}