header {
    background-color: #121212;
}

#title {
    color: white;
}

header button {
    color: white;
}

body {
    background-color: #242424;
}

.content {
    border-color: white;
}

.containerTitle {
    color: white;
}

.message {
    color: white;
}

.actionButton {
    background-color: #363636;

    color: white;
}

#action1 {
    border-color: white;
}

.actionButton:hover {
    background-color: #484848;
}

footer {
    background-color: #121212;
}