header {
    background-color: #DBDBDB;
}

#title {
    color: black;
}

header button {
    color: black;
}

body {
    background-color: white;
}

.content {
    border-color: 1px solid;
}

.containerTitle {
    color: black;
}

.message {
    color: black;
}

.actionButton {    
    background-color: #C9C9C9;

    color: black;
}

#action1 {
    border-color: black;
}

.actionButton:hover {
    background-color: #A5A5A5;
}

footer {
    background-color: #DBDBDB;
}