body {
    background-color: white;
    color: black;
}

header {
    background-color: #DBDBDB;
}

.actionButton {
    background-color: #C9C9C9;
}

.machineProgressBar {
    border-color: #C9C9C9;
}

.machineProgressFill {
    background-color: #C9C9C9;
}

footer {
    background-color: #DBDBDB;
}